body {
    background-color: #424242;
}

.form {
    background-color: #605e5ea1;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}